.teacher {
	.swiper-button {
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		background: #EBF2FD;
		z-index: 1000;

		svg {
			width: 24px;
			height: 24px;
		}

		&.button-next {
			right: 0;
			left: unset;
		}
	}

	&-cards {
		position: relative;
	}

	.owl-img {
		width: 355.37px;
		height: 265.34px;
		position: absolute;
		top: -165px;
		right: -150px;
	}

	.info-box {
		padding: 24px;
		border-radius: 12px;
		background: #EBF2FD;
		opacity: 0.85;
		font-size: 18px;
		font-weight: 500;
		line-height: 26px;
		display: flex;
		align-items: center;
		gap: 1rem;
		color: #3F72C6;

		span {
			color: #143D81;
		}
	}

	.teacher-swiper {
		overflow: visible !important;
	}

	.reviews {
		background: #EBF2FD;
		padding: 48px 48px 82px 48px;
		border-radius: 20px;
		margin: 100px 0;
		width: fit-content;
		position: relative;
		overflow: hidden;

		&-images {
			position: absolute;
			bottom: -15px;
			right: 58px;
			display: flex;
			transform: scale(0.8);
		}

		.ovl-img {
			position: relative;
			z-index: -1;
			transform: translateX(-45px);
		}

		&-title {
			font-size: 50px;
			font-weight: 600;
			line-height: 60px;
			color: #3F72C6;
			max-width: 720px;
			width: 100%;
		}

		&-btn {
			font-size: 16px;
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			width: fit-content;
			border: 2px solid #3F72C6;
			color: #3F72C6;
			border-radius: 12px;
			height: 50px;
			padding: 0 20px;
			transition: all .2s linear;
			margin-top: 48px;

			&:hover {
				background: #3F72C6;
				color: #fff;
			}
		}
	}

	// flip card
	.flip-card {
		background-color: transparent;
		height: 630px;
		perspective: 1000px;

	}

	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		box-sizing: border-box;
	}

	.flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	}

	.flip-card-front,
	.flip-card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 20px;
		overflow: hidden;
	}

	.flip-card-front {
		// position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 24px;

		.teacher-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	/* Style the back side */
	.flip-card-back {
		background-color: #3F72C6;
		padding: 24px;
		box-sizing: border-box;
		color: white;
		transform: rotateY(180deg);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

// media queries

@media screen and (max-width: 992px) {
	.teacher .flip-card {
		height: 380px;
	}

	.teacher .flip-card-back {
		padding: 12px;
	}

	.teacher .info-box {
		padding: 12px;
		font-size: 16px;
		line-height: 19px;
	}

	.teacher .reviews {
		max-width: 100%;
		padding: 24px;
		margin: 60px 0;
		width: 100%;
		padding-bottom: 120px;

		.reviews-btn {
			padding: 12px;
			height: 35px;
			margin-top: 24px;
		}

		.reviews-title {
			font-size: 24px;
			line-height: 29px;
		}

		.reviews-images {
			left: 50%;
			transform: translateX(-50%) scale(.5);
			right: unset;
			bottom: -45px;

			img:last-child {
				width: 276px;
			}
		}
	}

	.teacher .flip-card-front {
		padding: 12px;
	}


}

@media screen and (max-width: 768px) {
	.teacher .owl-img {
		width: 135px;
		height: auto;
		top: -62px;
		right: -74px;
		transform: rotate(-22deg);
	}

	.teacher .swiper-button {
		width: 40px;
		height: 40px;
	}

	.teacher .reviews .ovl-img {
		transform: translateX(-18px);
	}
}