footer {
	background: #EBF2FD;
	border-radius: 20px 20px 0px 0px;
	padding: 48px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		a,
		span {
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
			color: #143D81;
		}

		a {
			transition: all .2s linear;

			&:hover {
				color: #3F72C6;
			}
		}
	}
}

// media queries
@media screen and (max-width: 992px) {
	footer {
		padding: 24px 0;

		.container {
			flex-direction: column;
			align-items: start;
		}
	}
}

@media screen and (min-width: 1680px) {
	footer {
		max-width: 1640px;
		margin: 0 auto;
	}
}

@media (max-width: 1680px) {
	footer {
		margin: 0 50px;
	}
}

@media (max-width: 1080px) {
	footer {
		margin: 0 24px;
	}
}

@media screen and (max-width: 680px) {

	footer {
		margin-left: 0;
		margin-right: 0;
	}
}