@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Core style */
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

textarea:focus,
select:focus {
	outline: none;
	-webkit-appearance: none;
	box-shadow: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

input:focus {
	outline: none;
}

ul,
ol {
	padding: 0;
	list-style: none;
	margin: 0;
}

a {
	display: inline-block;
}

a:active,
a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1640px;
	margin: 0 auto;
}

.form-control {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #143D81;
	padding: 22px;
	height: 50px;
	border: none;
	border-radius: 12px;
	width: 100%;
	background: #fff;

	&::placeholder {
		color: #899ec0;
	}
}

.form-info {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.5px;
	color: #143D81;

	a {
		border-bottom: 1px solid #143D81;
		display: inline;
		color: #143D81;
	}
}

/* media queries */
@media screen and (max-width: 1650px) {
	.container {
		max-width: 100%;
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (max-width: 768px) {
	.form-control {
		height: 43px;
		padding: 16px;
		font-size: 16px;
	}

	.orange-btn {
		padding: 16px;
		height: 43px;
		font-size: 16px;
	}

	main {
		margin-top: 80px;
	}
}

@media (min-width: 1080px) {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
}